//
@import url(partials/_general.scss);
@import url(partials/_mixins.scss);
@import url(partials/_reset.scss);
@import url(partials/_variables.scss);

body {
    background-color: yellow;

    header {
        background-color: aqua;

        .dc-sites {
            height: 1.5rem;
            background-color: #0282F9;
            color: white;
            font-size: 10px;

            .container-centered {
                justify-content: flex-end;
                align-items: center;
                gap: 3rem;
            }

        }

        .logo-nav-search {
            height: 5rem;
            background-color: white;

            .container-centered {
                justify-content: space-between;
                align-items: center;

                img {
                    height: 4rem;
                }

                nav {
                    ul {
                        display: flex;
                        list-style: none;
                        gap: 1.5rem;

                        a {
                            text-decoration: none;
                            color: rgb(96, 95, 95);
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

